{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "New Job Confirm" %}{% endblock title %}

{% block content %}


<div class="site-section bg-light" id="start-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3"><br>{% trans "Confirm New Job" %}</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-7 mb-5">

        {% if driver_has_work_at_same_time %}
          <h1 class="text-danger">{% trans "You already have work at same time" %}</h1>

        {% elif completed == None %}
        <form method="post" action="{% url 'core:newjob' order_id uidb64 token %}" class="p-5 bg-white" novalidate>
            {% csrf_token %}
            {% include 'core/includes/order_complete_form.html' %}

            <div class="row form-group">
                <div class="col-md-6">
                  <label class="text-black" for="id_price">{% trans 'Enter price' %}</label>
                  <input type="text" name="price" class="form-control rounded-0" placeholder="" maxlength="7" required id="id_price">
                  {% if price_error %}
                    <p style="color: red">{% trans 'Invalid price. Should be integer greater than zero' %}</p>
                  {% endif %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                  <input type="submit" value="{% trans 'Confirm' %}" class="btn btn-primary mr-2 mb-2">
                </div>
            </div>
        </form>
        {% else %}
        <div class="row form-group">
            <div class="col-md-16">
                <h1 class="text-success">{% trans "Completed. You will receive notification soon as customer confirms your offer" %}</h1>
            </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}