{% load i18n %}
{% load static %}
{% autoescape off %}
{% trans "Hi" %} {{ first_name }} {{ last_name }},<br>

{% trans "Confirmed order details" %}:<br>
<b>{% trans "From address" %}</b>: {{ address_from }}<br>
<b>{% trans "To address" %}</b>: {{ address_to }}<br>
<b>{% trans "Start date" %}</b>: {{ delivery_start }}<br>
<b>{% trans "End date" %}</b>: {{ delivery_end }}<br>
<b>{% trans "Number of required movers" %}</b>: {{ movers_num }}<br>
<b>{% trans "Price" %}</b>: {{ price }}<br>
<b>{% trans "Payment method" %}</b>: {{ payment_method }}<br>
<b>{% trans "Car type" %}</b>: {{ car_type }}<br>
<b>{% trans "Driver details" %}</b>:
<li><b>{% trans "Name" %}</b>: {{ driver_name }}</li>
<li><b>{% trans "Phone" %}</b>: {{ driver_phone }}</li>
<br><br>


{% trans "Sincerely" %},<br>
{% trans "Team" %} delivery24.ee

{% endautoescape %}