{% extends 'core/base.html' %}
{% load static %}

{% block title %}Order Complete{% endblock title %}

{% block content %}

<script>
function Poll() {
  let xhttp = new XMLHttpRequest();
  let polling = true;
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML = this.responseText;
      polling = false;
      console.log(this.responseText);
    }
    else {
        document.getElementById("demo").innerHTML = this.responseText;
        console.log(this.responseText);
    }
    console.log(this.status)
  };
  if(polling) {
    xhttp.open("GET", "waitdriver/", true);
    xhttp.send();

    setTimeout(Poll, 3000);
  }
}
setTimeout(Poll, 3000);
</script>

<div class="site-section bg-light" id="start-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3"><br>Order Complete</h2>
      </div>
    </div>

    <div class="row justify-content"><!--<div class="row justify-content-center">-->
      <div class="col-lg-7 mb-5">
        {% if confirmed == None %}
        <form method="post" action="{% url 'core:complete' order_id=order_id %}" class="p-5 bg-white" novalidate>
            {% csrf_token %}
            {% include 'core/includes/order_complete_form.html' %}

            <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Confirm" class="btn btn-primary mr-2 mb-2">
                </div>
            </div>
            <p id="demo"></p>
        </form>
        {% else %}
          <h1 class="text-danger">Order already confirmed</h1>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}