{% extends 'core/base.html' %}
{% load static %}

{% block title %}Order Complete{% endblock title %}

{% block content %}


{{ order_id|json_script:"order_id_js" }}
<script>
let polling = true;

function Poll() {
  let xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      let resp = JSON.parse(this.responseText);
      if (resp.no_free_drivers) {
          document.getElementById("work_wait").classList.add('text-danger');
          document.getElementById("work_wait").innerHTML = "No free drivers available." + " " +
                                                           "Press button to try slightly change delivery date";
          document.getElementById("confirm-button").value = "Try again";
          document.getElementById("confirm-button").hidden = false;
      }
      else {
          document.getElementById("work_wait").hidden = true;

          document.getElementById("work_driver").innerHTML = "Driver: " + resp.first_name + " " +
                                    resp.driver_last_name + " " + resp.driver_phone + " " + resp.driver_email;
          document.getElementById("work_car").innerHTML = "Car: " + resp.car_model;
          document.getElementById("work_price").innerHTML = "Price: " + Math.floor(resp.price) + "&euro;";

          document.getElementById("confirm-button").hidden = false;
      }
      polling = false;
    }
    else {
        document.getElementById("work_wait").innerHTML = this.responseText;
    }
  };

    xhttp.open("GET", "waitdriver/", true);
    xhttp.send();

    if(polling == true) {
        setTimeout(Poll, 3000);
    }
}
const isOrderId = JSON.parse(document.getElementById('order_id_js').textContent);

if(isOrderId) {
    setTimeout(Poll, 3000);
}
</script>

<div class="site-section bg-light" id="start-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3"><br>Order Complete</h2>
      </div>
    </div>

    <div class="row justify-content"><!--<div class="row justify-content-center">-->
      <div class="col-lg-7 mb-5">

        {% if already_confirmed == None and confirmed == None %}
        <form method="post" action="{% url 'core:complete' order_id=order_id %}" class="p-5 bg-white" novalidate>
            {% csrf_token %}
            {% include 'core/includes/order_complete_form.html' %}

            <p id="work_wait"></p>
            <p id="work_driver"></p>
            <p id="work_car"></p>
            <p id="work_price"></p>

            <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" id="confirm-button" hidden value="Confirm" class="btn btn-primary mr-2 mb-2">
                </div>
            </div>

        </form>
        {% elif confirmed is True %}
          <h1 class="text-success">Order confirmed</h1>
        {% else %}
          <h1 class="text-danger">Order already confirmed</h1>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}