{% extends 'core/base.html' %}
{% load static %}

{% block title %}Order{% endblock title %}

{% block content %}


<div class="site-section bg-light" id="start-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3"><br>Order</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-7 mb-5">

        <form method="post" action="{% url 'core:order' %}" class="p-5 bg-white" novalidate>
            {% csrf_token %}
            {% include 'core/includes/order_form.html' %}

            <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Order" class="btn btn-primary mr-2 mb-2">
                </div>
            </div>
        </form>

{% endblock content %}