{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block meta_description %}
    <meta name="description" content="{% trans 'Want to get a job in Tallinn, Estonia? Become a loader, deliveryman or driver' %}">
{% endblock meta_description %}

{% block title %}{% trans "Become a Partner" %}{% endblock title %}

{% block lang_alternate %}
    <link rel="alternate" hreflang="en" href="https://delivery24.ee/partner/" />
    <link rel="alternate" hreflang="ru" href="https://delivery24.ee/ru/partner/" />
    <link rel="alternate" hreflang="et" href="https://delivery24.ee/et/partner/" />
    <link rel="alternate" hreflang="x-default" href="https://delivery24.ee/partner/" />
{% endblock lang_alternate %}

{% block content %}


<div class="site-section bg-light" id="start-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3"><br>{% trans "Become a Partner" %}</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-7 mb-5">
          <div class="text-black">
              <h4><b>{% trans "1. Register" %}</b></h4>
              <p>{% trans "Provide your data and confirm" %} <a href ="{% url 'accounts:signup' %}">{% trans "registration" %}</a></p>

              <h4><b>{% trans "2. Receive orders" %}</b></h4>
              <p>{% trans "New order details will be sent to your Telegram" %}</p>

              <h4><b>{% trans "3. Confirm order" %}</b></h4>
              <p>{% trans "Confirm new order by providing your price, ignore if you not interested in this order" %}</p>

              <h4><b>{% trans "4. Complete delivery" %}</b></h4>
              <p>{% trans "Track bookings and assignments in your" %} <a href="{% url 'accounts:login' %}">{% trans "profile" %}</a></p>

              <h4><b>{% trans "5. Get payments" %}</b></h4>
              <p>{% trans "Get money on your bank account or in cash right after job done" %}</p>
          </div>

          <h3><b><a href="{% url 'accounts:signup' %}" class="text-success">{% trans "SIGNUP" %}</a></b></h3>
      </div>
    </div>
  </div>
</div>

{% endblock content %}