{% load i18n %}
{% load static %}
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="{{ order_form.address_from.auto_id }}">{{ order_form.address_from.label }}</label>
                  {{ order_form.address_from }}
                  {% if order_form.address_from.help_text %}
                    <small style="color: grey">{{ order_form.address_from.help_text }}</small>
                  {% endif %}
                  {% for error in order_form.address_from.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="{{ order_form.address_to.auto_id }}">{{ order_form.address_to.label }}</label>
                  {{ order_form.address_to }}
                  {% if order_form.address_to.help_text %}
                    <small style="color: grey">{{ order_form.address_to.help_text }}</small>
                  {% endif %}
                  {% for error in order_form.address_to.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="{{ order_form.delivery_start.auto_id }}">{{ order_form.delivery_start.label }}</label>
                  {{ order_form.delivery_start }}

                  <script>
                    let $jQverForDateTimeStart = jQuery.noConflict();
                    $jQverForDateTimeStart(function () {
                      $jQverForDateTimeStart("#id_delivery_start").datetimepicker({
                        format: 'd/m/Y H:i',
                      });
                    });
                  </script>

                  {% if order_form.delivery_start.help_text %}
                    <small style="color: grey">{{ order_form.delivery_start.help_text }}</small>
                  {% endif %}
                  {% for error in order_form.delivery_start.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="{{ order_form.delivery_end.auto_id }}">{{ order_form.delivery_end.label }}</label>
                  {{ order_form.delivery_end }}

                  <script>
                    let $jQverForDateTimeEnd = jQuery.noConflict();
                    $jQverForDateTimeEnd(function () {
                      $jQverForDateTimeEnd("#id_delivery_end").datetimepicker({
                        format: 'd/m/Y H:i',
                      });
                    });
                  </script>

                  {% if order_form.delivery_end.help_text %}
                    <small style="color: grey">{{ order_form.delivery_end.help_text }}</small>
                  {% endif %}
                  {% for error in order_form.delivery_end.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="{{ order_form.movers_num.auto_id }}">{{ order_form.movers_num.label }}</label>
                  {{ order_form.movers_num }}
                  {% if order_form.movers_num.help_text %}
                    <small style="color: grey">{{ order_form.movers_num.help_text }}</small>
                  {% endif %}
                  {% for error in order_form.movers_num.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="{{ order_form.car_type.auto_id }}">{{ order_form.car_type.label }}</label>
                  <div id="car_type">
                    {% if 1 == order_form.car_type.value %}
                      <input type="radio" name="car_type" id="id_car_type_0" value="1" /><label for="id_car_type_0"><img src="{% static 'core/images/cars_pics/S_mod.png' %}" alt="Car Type S" /></label>
                    {% elif 2 == order_form.car_type.value %}
                      <input type="radio" name="car_type" id="id_car_type_1" value="2" /><label for="id_car_type_1"><img src="{% static 'core/images/cars_pics/M_mod.png' %}" alt="Car Type M" /></label>
                    {% elif 3 == order_form.car_type.value %}
                      <input type="radio" name="car_type" id="id_car_type_2" value="3" /><label for="id_car_type_2"><img src="{% static 'core/images/cars_pics/L_mod.png' %}" alt="Car Type L" /></label>
                    {% else %}
                    {% endif %}
                  </div>
                  {% if order_form.car_type.help_text %}
                    <small style="color: grey">{{ order_form.car_type.help_text }}</small>
                  {% endif %}
                  {% for error in order_form.car_type.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="{{ order_form.payment.auto_id }}">{{ order_form.payment.label }}</label>
                  {{ order_form.payment }}
                  {% if order_form.payment.help_text %}
                    <small style="color: grey">{{ order_form.payment.help_text }}</small>
                  {% endif %}
                  {% for error in order_form.payment.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>
