              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="{{ order_form.address_from.auto_id }}">{{ order_form.address_from.label }}</label>
                  {{ order_form.address_from }}
                  {% if order_form.address_from.help_text %}
                    <small style="color: grey">{{ order_form.address_from.help_text }}</small>
                  {% endif %}
                  {% for error in order_form.address_from.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="{{ order_form.address_to.auto_id }}">{{ order_form.address_to.label }}</label>
                  {{ order_form.address_to }}
                  {% if order_form.address_to.help_text %}
                    <small style="color: grey">{{ order_form.address_to.help_text }}</small>
                  {% endif %}
                  {% for error in order_form.address_to.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="{{ order_form.delivery_start.auto_id }}">{{ order_form.delivery_start.label }}</label>
                  {{ order_form.delivery_start }}

                  <script>
                    let $jQverForDateTimeStart = jQuery.noConflict();
                    $jQverForDateTimeStart(function () {
                      $jQverForDateTimeStart("#id_delivery_start").datetimepicker({
                        format: 'd/m/Y H:i',
                      });
                    });
                  </script>

                  {% if order_form.delivery_start.help_text %}
                    <small style="color: grey">{{ order_form.delivery_start.help_text }}</small>
                  {% endif %}
                  {% for error in order_form.delivery_start.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="{{ order_form.delivery_end.auto_id }}">{{ order_form.delivery_end.label }}</label>
                  {{ order_form.delivery_end }}

                  <script>
                    let $jQverForDateTimeEnd = jQuery.noConflict();
                    $jQverForDateTimeEnd(function () {
                      $jQverForDateTimeEnd("#id_delivery_end").datetimepicker({
                        format: 'd/m/Y H:i',
                      });
                    });
                  </script>

                  {% if order_form.delivery_end.help_text %}
                    <small style="color: grey">{{ order_form.delivery_end.help_text }}</small>
                  {% endif %}
                  {% for error in order_form.delivery_end.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="{{ order_form.movers_num.auto_id }}">{{ order_form.movers_num.label }}</label>
                  {{ order_form.movers_num }}
                  {% if order_form.movers_num.help_text %}
                    <small style="color: grey">{{ order_form.movers_num.help_text }}</small>
                  {% endif %}
                  {% for error in order_form.movers_num.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="{{ order_form.payment.auto_id }}">{{ order_form.payment.label }}</label>
                  {{ order_form.payment }}
                  {% if order_form.payment.help_text %}
                    <small style="color: grey">{{ order_form.payment.help_text }}</small>
                  {% endif %}
                  {% for error in order_form.payment.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
              </div>
