.idea/
delivery24/delivery24/__pycache__/
*.pyc
/social
/delivery24/celerybeat-schedule
/commands
/delivery24/debug.log
/aws/
/venv/
/delivery24/accounts/migrations/
/delivery24/core/migrations/
/design/
