{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Password Reset Confirmation" %}{% endblock title %}

{% block content %}


<div class="site-section bg-light" id="start-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3"><br>{% trans "Password Reset Confirmation" %}</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-7 mb-5">

        {% if validlink %}
        <form method="post" class="p-5 bg-white" novalidate>
            {% csrf_token %}
            {% include 'accounts/includes/driver_new_pwd_form.html' %}

            <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="{% trans 'Change Password' %}" class="btn btn-primary mr-2 mb-2">
                </div>
            </div>
        </form>
        {% else %}
          <p>
            {% blocktrans %}
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
            {% endblocktrans %}
          </p>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock content %}