{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block meta_description %}
    <meta name="description" content="{% trans 'Login to view your profile, completed and future jobs, income' %}">
{% endblock meta_description %}

{% block title %}{% trans "Driver Login" %}{% endblock title %}

{% block lang_alternate %}
    <link rel="alternate" hreflang="en" href="https://delivery24.ee/accounts/login/" />
    <link rel="alternate" hreflang="ru" href="https://delivery24.ee/ru/accounts/login/" />
    <link rel="alternate" hreflang="et" href="https://delivery24.ee/et/accounts/login/" />
    <link rel="alternate" hreflang="x-default" href="https://delivery24.ee/accounts/login/" />
{% endblock lang_alternate %}

{% block content %}


<div class="site-section bg-light" id="start-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3"><br>{% trans "Driver Login" %}</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-7 mb-5">

        <form method="post" action="{% url 'accounts:login' %}" class="p-5 bg-white" novalidate>
            {% csrf_token %}
            {% include 'accounts/includes/driver_login_form.html' %}

            <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="{% trans 'Confirm' %}" class="btn btn-primary mr-2 mb-2">
                </div>
                <div class="col-md-12">
                  <a href="{% url 'accounts:password_reset' %}">{% trans "Forgot password" %}</a>
                </div>
                <div class="col-md-12">
                  <a href="{% url 'accounts:signup' %}">{% trans "Signup" %}</a>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}