{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Driver Signup" %}{% endblock title %}

{% block content %}


<div class="site-section bg-light" id="start-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3"><br>{% trans "Driver Signup" %}</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-7 mb-5">

        <form method="post" action="{% url 'accounts:signup' %}" class="p-5 bg-white" novalidate>
            {% csrf_token %}
            {% include 'accounts/includes/driver_signup_form.html' %}

            <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="{% trans 'Confirm' %}" class="btn btn-primary mr-2 mb-2">
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}